<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <title>{% block title %}MOVIES @ HOME{% endblock %}</title>



</head>
<body>

<div class="container">
    <div class="baseHeader">
        <a href="{{ path('app_homepage') }}" title="Website index">
        <img id="indexLogo" src="{{ asset('img/popcorn.png') }}" alt="Logo index">
            <div class="divIndexTitle">
               <h1 class="indexTitle">MOVIES @ HOME</h1>
            </div>
        </a>


        <nav>
            <ul class="nav nav-pills orange">
                <li class="active btn-menu"><a href="{{ path('app_homepage') }}">Index</a></li>
                {% if app.user %}
                    {% if app.user.roles == "ROLE_ADMIN" %}
                        <li class="btn-menu"><a href="{{ path('admin_movie_list') }}">Liste des films</a></li>
                        <li class="btn-menu"><a href="{{ path('admin_review_list') }}">Liste des critiques</a></li>
                    {% else %}
                        <li><a href="{{ path('logout') }}">Déconnexion ({{ app.user.username }})</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                    <li><a href="{{ path('user_register') }}">Inscription</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>

    {% for label, messages in app.flashes %}
        <br />
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

        {% block content %} {% endblock %}

        <footer>
            <div>
                <nav>
                    <ul>
                        <li><a href="{{ path('app_homepage') }}">Index</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>

</body>
</html>